.footer {
  background-color: #222;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 0;
  a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #949494;
    font-size: 13px;
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: #ff7539;
    }
  }
  .partner-logo {
    border-radius: 50%;
    height: 30px;
    width: auto;
    margin-right: 15px;
  }

  .icon-app {
    border-radius: 50%;
    height: 30px;
    width: auto;
    margin: 10px;
  }
  .icon-social {
    border-radius: 50%;
    height: 30px;
    width: auto;
    margin: 10px;
  }
}
